In [41]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [42]:
import sklearn

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.linear_model import Ridge
from sklearn.model_selection import KFold
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report,confusion_matrix 
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import StratifiedKFold, cross_validate, train_test_split, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.metrics import roc_curve, auc, classification_report, confusion_matrix, precision_score, recall_score,  accuracy_score, precision_recall_curve
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import StratifiedKFold, cross_validate, train_test_split, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.metrics import roc_curve, auc, classification_report, confusion_matrix, precision_score, recall_score,  accuracy_score, precision_recall_curve

In [43]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow.keras.layers as L
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow.keras.optimizers import Adam

In [44]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('words')
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import TweetTokenizer
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to /Users/kgarg/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/kgarg/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/kgarg/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to /Users/kgarg/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [45]:
!pip install emot

Requirement already satisfied: emot in /Users/kgarg/opt/anaconda3/lib/python3.8/site-packages (2.1)

In [46]:
!pip install pyspellchecker
from spellchecker import SpellChecker

Requirement already satisfied: pyspellchecker in /Users/kgarg/opt/anaconda3/lib/python3.8/site-packages (0.6.2)

In [47]:
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import seaborn as sns
import matplotlib.pyplot as plt

import scipy

import warnings
warnings.filterwarnings('ignore')

import re
from collections import Counter
from emot.emo_unicode import UNICODE_EMO, EMOTICONS

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [124]:
df['OriginalTweet'].str.lower().str.split().apply(len).sum()
pd.options.display.max_colwidth=200
df['OriginalTweet'][3:6]

473506

In [205]:
train = pd.read_csv('./data/Corona_NLP_train.csv', encoding="ISO-8859-1", low_memory=False)
test = pd.read_csv('./data/Corona_NLP_test.csv', encoding="ISO-8859-1", low_memory=False) 
#df = train.append(test, sort = False)

In [206]:
# -- filling missing values
train['Location'].fillna(value='unknown', inplace=True) 
test['Location'].fillna(value='unknown', inplace=True)

In [207]:
# -- label encoding 
encoding = {'Extremely Negative': 'Negative',
            'Extremely Positive': 'Positive'
           }
labels = ['Negative', 'Positive']
train['Sentiment'].replace(encoding, inplace=True)
train["sentiment"] = LabelEncoder().fit_transform(train["Sentiment"])

test['Sentiment'].replace(encoding, inplace=True)
test["sentiment"] = LabelEncoder().fit_transform(test["Sentiment"])

In [208]:
# -- remove URLs
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

from bs4 import BeautifulSoup
# -- remove HTML
def html(text):
    return BeautifulSoup(text, "lxml").text

train['OriginalTweet'] = train['OriginalTweet'].apply(remove_urls)
train['OriginalTweet'] = train['OriginalTweet'].apply(html)

test['OriginalTweet'] = test['OriginalTweet'].apply(remove_urls)
test['OriginalTweet'] = test['OriginalTweet'].apply(html)

In [210]:
# -- lowercase
train['OriginalTweet'] = train['OriginalTweet'].str.lower()

test['OriginalTweet'] = test['OriginalTweet'].str.lower()

In [212]:
# -- convert emojis and emoticons to words
def convert_emojis_emoticons(text):
    for emot in UNICODE_EMO:
        text = text.replace(emot, "_".join(UNICODE_EMO[emot].replace(",","").replace(":","").split()))
    for emot in EMOTICONS:
        text = re.sub(u'('+emot+')', "_".join(EMOTICONS[emot].replace(",","").split()), text)
    return text

train['OriginalTweet'] = train['OriginalTweet'].apply(convert_emojis_emoticons)

test['OriginalTweet'] = test['OriginalTweet'].apply(convert_emojis_emoticons)

In [214]:
# -- remove special and non-ASCII characters
def clean(tweet): 
    tweet = re.sub('@[^\s]+','',tweet)
    tweet = re.sub(r"\x89Û_", "", tweet)
    tweet = re.sub(r"\x89ÛÒ", "", tweet)
    tweet = re.sub(r"\x89ÛÓ", "", tweet)
    tweet = re.sub(r"\x89ÛÏWhen", "When", tweet)
    tweet = re.sub(r"\x89ÛÏ", "", tweet)
    tweet = re.sub(r"\x89Û÷", "", tweet)
    tweet = re.sub(r"\x89Ûª", "", tweet)
    tweet = re.sub(r"\x89Û\x9d", "", tweet)
    tweet = re.sub(r"å_", "", tweet)
    tweet = re.sub(r"\x89Û¢", "", tweet)
    tweet = re.sub(r"\x89Û¢åÊ", "", tweet)
    tweet = re.sub(r"åÊ", "", tweet)
    tweet = re.sub(r"åÈ", "", tweet)
    tweet = re.sub(r"â²", "", tweet)
    tweet = re.sub(r"Ì©", "e", tweet)
    tweet = re.sub(r"å¨", "", tweet)
    tweet = re.sub(r"â¹", "", tweet)
    tweet = re.sub(r"â½", "", tweet)
    tweet = re.sub(r"â¾", "", tweet)
    tweet = re.sub(r"ã¼berweist", "", tweet)
    tweet = re.sub(r"ã¼cretsiz", "", tweet)
    tweet = re.sub(r"zã¼rich", "", tweet)
    tweet = re.sub(r"ã¼retime", "", tweet)
    tweet = re.sub(r"åÇ", "", tweet)
    tweet = re.sub(r"åÀ", "", tweet)
    tweet = re.sub(r'\b[\w\-.]+?@\w+?\.\w{2,4}\b', 'mentioned', tweet)
    tweet = re.sub(r'(http[s]?\S+)|(\w+\.[A-Za-z]{2,4}\S*)', 'referance', tweet)
    tweet = re.sub(r'£|\$', 'money', tweet)
    tweet = re.sub(r'\b(\+\d{1,2}\s)?\d?[\-(.]?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}\b', ' ', tweet)
    tweet = re.sub(r'\d+(\.\d+)?', ' ', tweet) 
    tweet = re.sub(r'[^\w\d\s]', ' ', tweet)
    tweet = re.sub(r'\s+', ' ', tweet)
    tweet = re.sub(r'^\s+|\s+?$', '', tweet.lower())
    tweet = re.sub(r"&gt;", ">", tweet)
    tweet = re.sub(r"&lt;", "<", tweet)
    tweet = re.sub(r"&amp;", "&", tweet) 
    tweet = re.sub(r"_", "  ", tweet)
    tweet = re.sub(r"https?:\/\/t.co\/[A-Za-z0-9]+", "", tweet)
    punctuations = '@#!?+&*[]-%.:/();$=><|{}^' + "'`"
    for p in punctuations:
        tweet = tweet.replace(p, f' {p} ')
    return str(tweet)

train['OriginalTweet'] = train['OriginalTweet'].apply(clean)

test['OriginalTweet'] = test['OriginalTweet'].apply(clean)

In [216]:
# -- spellcheck and keep words that are in the English dictionary
spell = SpellChecker(distance = 1, language='en')
words = set(nltk.corpus.words.words())

def correct_spellings(text):
    corrected_text = []
    misspelled_words = spell.unknown(text.split())
    for word in text.split():
        if word in misspelled_words:
            corrected_text.append(spell.correction(word))
        else: 
            corrected_text.append(word)
    return " ".join(corrected_text)

def ensure_english(text):
    return " ".join(w for w in nltk.wordpunct_tokenize(text) \
         if w.lower() in words or not w.isalpha())

train['OriginalTweet'] = train['OriginalTweet'].apply(correct_spellings)
train['OriginalTweet'] = train['OriginalTweet'].apply(ensure_english)

test['OriginalTweet'] = test['OriginalTweet'].apply(correct_spellings)
test['OriginalTweet'] = test['OriginalTweet'].apply(ensure_english)

In [225]:
test

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,sentiment
0,1,44953,NYC,02-03-2020,new encounter empty supermarket pictured sold stock,Negative,0
1,2,44954,"Seattle, WA",02-03-2020,find hand turned money pack check driving,Positive,2
2,3,44955,unknown,02-03-2020,find protect,Positive,2
3,4,44956,Chicagoland,02-03-2020,panic city anxious stock food medical worker becomes confirmed patient staged event canon canon canon election,Negative,0
4,5,44957,"Melbourne, Victoria",03-03-2020,news one week everyone baby milk powder next everyone toilet paper,Neutral,1
...,...,...,...,...,...,...,...
3793,3794,48746,Israel ??,16-03-2020,meanwhile supermarket people dance sing together stay positive,Positive,2
3794,3795,48747,"Farmington, NM",16-03-2020,panic buy lot non perishable echo need food also looking pack screened sure,Negative,0
3795,3796,48748,"Haverford, PA",16-03-2020,prof economics talking recent research impact economy watch starting happy face confusion,Neutral,1
3796,3797,48749,unknown,16-03-2020,need instead bear assume even worst supermarket crowded like hell virus tu,Negative,0
3797,3798,48750,"Arlington, Virginia",16-03-2020,safety end rest assured tissue produce ship,Positive,2

In [218]:
# -- remove punctuation
import string
regular_punct = list(string.punctuation)
def remove_punctuation(text):
    for punc in regular_punct:
        if punc in text:
            text = text.replace(punc, ' ')
    return text.strip()

train['OriginalTweet'] = train['OriginalTweet'].apply(remove_punctuation)

test['OriginalTweet'] = test['OriginalTweet'].apply(remove_punctuation)

In [220]:
# -- remove stopwords
en_stops = set(stopwords.words('english'))
def remove_stopwords(tweet):
  tweet = tweet.split()
  tweet = " ".join([word for word in tweet if not word in en_stops])  
  return tweet

train['OriginalTweet'] = train['OriginalTweet'].apply(remove_stopwords)

test['OriginalTweet'] = test['OriginalTweet'].apply(remove_stopwords)

In [222]:
# -- tokenize
train['OriginalTweet'] = train['OriginalTweet'].apply(word_tokenize)

test['OriginalTweet'] = test['OriginalTweet'].apply(word_tokenize)

In [223]:
# -- lematize
lem = WordNetLemmatizer()
def lemma_wordnet(input):
    return [lem.lemmatize(w) for w in input]

train['OriginalTweet'] = train['OriginalTweet'].apply(lemma_wordnet)

test['OriginalTweet'] = test['OriginalTweet'].apply(lemma_wordnet)

In [224]:
# -- combine individual words
def combine_text(input):
    combined = ' '.join(input)
    return combined

train['OriginalTweet'] = train['OriginalTweet'].apply(combine_text)

test['OriginalTweet'] = test['OriginalTweet'].apply(combine_text)

In [226]:
# -- Bag of words

cv = CountVectorizer(ngram_range=(1, 1))
X_train_bow = cv.fit_transform(train['OriginalTweet']) 
Y_train_bow = train['sentiment'] 

X_test_bow = cv.transform(test['OriginalTweet'])
Y_test_bow = test['sentiment']

In [243]:
# -- Bag of words - bigrams

cv_bbow = CountVectorizer(ngram_range=(2, 2))
X_train_bbow = cv_bbow.fit_transform(train['OriginalTweet']) 
Y_train_bbow = train['sentiment']

X_test_bbow = cv_bbow.transform(test['OriginalTweet']) 
Y_test_bbow = test['sentiment']

In [249]:
# -- TF-IDF

vectorizer = TfidfVectorizer(min_df = 2, max_df = 0.8, use_idf = True, ngram_range=(1, 2))

vectorizer.fit(train)
X_train_tfidf = vectorizer.fit_transform(train['OriginalTweet'])
Y_train_tfidf = train['sentiment'] 

X_test_tfidf =vectorizer.transform(test['OriginalTweet']) 
Y_test_tfidf = test['sentiment']

In [229]:
display("B-BoW:", X_train_bbow.shape)
df_bbow = pd.DataFrame(X_train_bbow.toarray(), columns=cv_bbow.get_feature_names())
display(df_bbow.head())

'B-BoW:'

(41157, 251384)

,aba list,abandon food,abandon need,abandon supermarket,abandon well,abandoned chilled,abandoned fate,abandoned private,abandoned shipment,abandoned shopping,...,zoom special,zoom stock,zoom strategy,zoom toilet,zoom variety,zoom video,zoonotic deeply,zoonotic disease,zoonotic waiting,zorro saga
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [298]:
# -- multinomialNB with bag of word
alpha = [1e-10, 1e-5, 0.1, 1.0, 2.0, 5.0]
for a in alpha:
    mnb = MultinomialNB(a)
    scores = sklearn.model_selection.cross_val_score(mnb, X_train_bow, Y_train_bow, cv=5)
    print('alpha: ', a)
    print(scores)
    print(np.mean(scores))
    print('\n')
    
mnb.fit(X_train_bow, Y_train_bow)
print(mnb.score(X_test_bow, Y_test_bow))

precision, recall, fscore, support = score(Y_test_bow, mnb.predict(X_test_bow))

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

alpha:  1e-10
[0.65755588 0.64856657 0.64390718 0.64050541 0.63868303]
0.6458436126242504


alpha:  1e-05
[0.65767736 0.64880952 0.64402867 0.64086988 0.63941198]
0.6461594827632009


alpha:  0.1
[0.67237609 0.66399417 0.66128052 0.66200948 0.66128052]
0.6641881576901374


alpha:  1.0
[0.67589893 0.66873178 0.66735512 0.67209331 0.67099988]
0.6710158029228666


alpha:  2.0
[0.66800292 0.66265792 0.6586077  0.66516827 0.67014944]
0.6649172479447026


alpha:  5.0
[0.64917396 0.64856657 0.6420848  0.65058924 0.65447698]
0.6489783078477759


0.6671932596103213
precision: [0.74764595 0.60606061 0.60911602]
recall: [0.72933252 0.03231018 0.85575679]
fscore: [0.7383757  0.06134969 0.71167294]
support: [1633  619 1546]

In [297]:
# -- multinomialNB with bigram bag of word
alpha = [1e-10, 1e-5, 0.1, 1.0, 2.0, 5.0]
for a in alpha:
    mnb = MultinomialNB(a)
    scores = sklearn.model_selection.cross_val_score(mnb, X_train_bbow, Y_train_bbow, cv=10)
    print('alpha: ', a)
    print(scores)
    print(np.mean(scores))
    print('\n')

mnb.fit(X_train_bbow, Y_train_bbow)
print(mnb.score(X_test_bbow, Y_test_bbow))

precision, recall, fscore, support = score(Y_test_bbow, mnb.predict(X_test_bbow))

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))
#accuracy_score(mnb.predict(X_test_bbow), Y_test_bbow)

alpha:  1e-10
[0.55344995 0.55709427 0.53838678 0.54373178 0.5505345  0.55126336
 0.5281827  0.55407047 0.56330498 0.53511543]
0.5475134230050291


alpha:  1e-05
[0.53838678 0.53595724 0.5223518  0.5250243  0.5308552  0.52405248
 0.50680272 0.52952612 0.53948967 0.51543135]
0.5267877659656119


alpha:  0.1
[0.42274052 0.4159378  0.41399417 0.41763848 0.40014577 0.41350826
 0.39844509 0.40583232 0.40121507 0.39149453]
0.4080952026705492


alpha:  1.0
[0.51676385 0.49514091 0.50680272 0.49246842 0.48347911 0.48688047
 0.48809524 0.48894289 0.49064399 0.47752126]
0.4926738850374379


alpha:  2.0
[0.54713314 0.53061224 0.54081633 0.52721088 0.51603499 0.52113703
 0.51773567 0.52660996 0.52077764 0.509113  ]
0.5257180879642258


alpha:  5.0
[0.56827017 0.5563654  0.55466472 0.55247813 0.53644315 0.53765792
 0.54737609 0.55674362 0.56087485 0.54119077]
0.5512064822457363


0.5518694049499737
precision: [0.64764079 0.71428571 0.50060557]
recall: [0.52112676 0.00807754 0.80206986]
fscore: [0.57753648 0.01597444 0.61645538]
support: [1633  619 1546]

In [299]:
# -- multinomialNB with TF-IDF
alpha = [175.0, 200.0, 225.0, 250.0, 300.0]
for a in alpha:
    mnb = MultinomialNB(a)
    scores = sklearn.model_selection.cross_val_score(mnb, X_train_tfidf, Y_train_tfidf, cv=10)
    print('alpha: ', a)
    print(scores)
    print(np.mean(scores))
    print('\n')
mnb = MultinomialNB()
mnb.fit(X_train_tfidf, Y_train_tfidf)
print(mnb.score(X_test_tfidf, Y_test_tfidf))

precision, recall, fscore, support = score(Y_test_tfidf, mnb.predict(X_test_tfidf))

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

alpha:  175.0
[0.44995141 0.45602527 0.45578231 0.45602527 0.452138   0.44922255
 0.45238095 0.44617254 0.44422843 0.44690158]
0.45088283047987465


alpha:  200.0
[0.44630709 0.45238095 0.45068027 0.44897959 0.44727891 0.44630709
 0.44727891 0.44325638 0.44325638 0.44520049]
0.4470926072216771


alpha:  225.0
[0.44314869 0.44655005 0.446793   0.44655005 0.44412051 0.44484937
 0.44460641 0.4417983  0.44204131 0.44252734]
0.44429850259840087


alpha:  250.0
[0.44314869 0.44484937 0.44412051 0.44460641 0.44169096 0.44290573
 0.44241983 0.44082625 0.44155529 0.44034022]
0.4426463246294873


alpha:  300.0
[0.44120505 0.44217687 0.44217687 0.44193392 0.44047619 0.43999028
 0.43974733 0.43888214 0.44034022 0.43985419]
0.4406783060386106


0.6350710900473934
precision: [0.74089636 0.63636364 0.57100466]
recall: [0.64788732 0.01130856 0.87128072]
fscore: [0.69127736 0.02222222 0.68988476]
support: [1633  619 1546]

In [284]:
# -- decision tree classifier with BoW
dtclassifier=DecisionTreeClassifier(criterion="entropy", max_depth=None)
score=cross_val_score(dtclassifier, X_train_bow, Y_train_bow, cv=10)
dtclassifier.fit(X_train_bow, Y_train_bow)
preddt = dtclassifier.predict(X_test_bow)

In [291]:
tree_para = {'criterion':['gini','entropy']}
clf = GridSearchCV(DecisionTreeClassifier(max_depth=None), tree_para, cv=10)
clf.fit(X_train_bow, Y_train_bow)
preddt = dtclassifier.predict(X_test_bow)

In [293]:
accuracy= accuracy_score(preddt,Y_test_bow)
print(accuracy)
#print(score.mean())
# unigram: .69

from sklearn.metrics import precision_recall_fscore_support as score

precision, recall, fscore, support = score(Y_test_bbow, preddt)

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

0.6545550289626119
precision: [0.68603043 0.55375552 0.66826061]
recall: [0.60747091 0.60743134 0.72315653]
fscore: [0.64436505 0.57935285 0.69462566]
support: [1633  619 1546]

In [ ]:
test['sentiment'].value_counts()

In [ ]:
# -- decision tree classifier with B-BoW
tree_para = {'criterion':['gini','entropy']}
clf = GridSearchCV(DecisionTreeClassifier(max_depth=None), tree_para, cv=10)
clf.fit(X_train_bbow, Y_train_bbow)
preddt = clf.predict(X_test_bbow)

In [ ]:
accuracy= accuracy_score(preddt,Y_test_bbow)
print(accuracy)
precision, recall, fscore, support = score(Y_test_bbow, preddt)

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

In [ ]:
# -- decision tree classifier with tf-idf
tree_para = {'criterion':['gini','entropy']}
clf = GridSearchCV(DecisionTreeClassifier(max_depth=None), tree_para, cv=10)
clf.fit(X_train_tfidf,Y_train_tfidf)
preddt = clf.predict(X_test_tfidf)

In [ ]:
accuracy= accuracy_score(preddt,Y_test_tfidf)
print(accuracy)
precision, recall, fscore, support = score(Y_test_tfidf, preddt)

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

In [261]:
# -- SVM, kernel=linear - BoW
import time
from sklearn import svm
from sklearn.metrics import classification_report
classifier_linear = svm.SVC(kernel='linear')
t0 = time.time()
classifier_linear.fit(X_train_bow, Y_train_bow)
t1 = time.time()
prediction_linear = classifier_linear.predict(X_test_bow)
t2 = time.time()
time_linear_train = t1-t0
time_linear_predict = t2-t1

# results
print("Results for SVC(kernel=linear)")
print("Training time: %fs; Prediction time: %fs" % (time_linear_train, time_linear_predict))
report = classification_report(Y_test_bow, prediction_linear, output_dict=True)
print('positive: ', report['Positive'])
print('negative: ', report['Negative'])
print('notr: ', report['Neutral'])

Results for SVC(kernel=linear)
Training time: 584.530156s; Prediction time: 6.890333s

ValueError: Found input variables with inconsistent numbers of samples: [1157, 3798]

In [ ]:
accuracy= accuracy_score(prediction_linear,Y_test_bow)
accuracy

In [ ]:
review = """give elderly disabled shopping amid outbreak"""
review_vector = vectorizer.transform([review]) # vectorizing
print(classifier_linear.predict(review_vector))

In [312]:
## -- logistic regression with hashing 
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(solver='lbfgs', multi_class="ovr")
log_reg.fit(X_train_bbow, X_test_bbow)

LogisticRegression(multi_class='ovr')

In [350]:
Y_train_bbow

<11239x228214 sparse matrix of type '<class 'numpy.int64'>'
	with 181700 stored elements in Compressed Sparse Row format>

In [355]:
train_accuracy = log_reg.score(X_train_bbow, Y_train_bbow)
test_accuracy = log_reg.score(X_test_bbow, Y_test_bbow)
test_accuracy

0.7882373876679419

In [224]:
log_reg_mnm = LogisticRegression(multi_class='multinomial', solver='lbfgs')
log_reg_mnm.fit(X_train_hash, X_test_hash)

train_accuracy = log_reg_mnm.score(X_train_hash, X_test_hash)
test_accuracy = log_reg_mnm.score(Y_train_hash, Y_test)

print('Multinomial (Softmax)', '-'*20, 
      'Accuracy on Train Data : {:.2f}'.format(train_accuracy), 
      'Accuracy on Test Data  : {:.2f}'.format(test_accuracy), sep='\n')

Multinomial (Softmax)
--------------------
Accuracy on Train Data : 0.83
Accuracy on Test Data  : 0.78

In [225]:
# -- validation for multinomial log reg 
C_values = [0.001,0.01, 0.1,1,10,100, 1000]

accuracy_values = pd.DataFrame(columns=['C_values', 'Train Accuracy', 'Test Accuracy'])

for c in C_values:
    # Apply logistic regression model to training data
    lr = LogisticRegression(penalty = 'l2', C = c, random_state = 0, solver='lbfgs', multi_class='multinomial')
    lr.fit(X_train_hash, X_test_hash)
    accuracy_values = accuracy_values.append({'C_values': c,
                                              'Train Accuracy': lr.score(X_train_hash, X_test_hash),
                                              'Test Accuracy': lr.score(Y_train_hash, Y_test)
                                             }, ignore_index=True)
display(accuracy_values)

   C_values  Train Accuracy  Test Accuracy
0     0.001        0.476361       0.479224
1     0.010        0.590728       0.584216
2     0.100        0.719213       0.697482
3     1.000        0.829962       0.775514
4    10.000        0.868668       0.783522
5   100.000        0.874184       0.774980
6  1000.000        0.874659       0.773200

In [ ]:
# -- grid search
parameters = {"C": [10 ** x for x in range (-5, 5, 1)],
              "penalty": ['l1', 'l2']
             }

In [ ]:
from sklearn.model_selection import GridSearchCV

grid_cv = GridSearchCV(estimator=log_reg,
                       param_grid = parameters,
                       cv = 10
                      )

grid_cv.fit(X_train_hash, X_test_hash)

GridSearchCV(cv=10, estimator=LogisticRegression(multi_class='ovr'),
             param_grid={'C': [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100,
                               1000, 10000],
                         'penalty': ['l1', 'l2']})

In [ ]:
print("Best Parameters : ", grid_cv.best_params_)
print("Best Score      : ", grid_cv.best_score_)

Best Parameters :  {'C': 10, 'penalty': 'l2'}
Best Score      :  0.8185134316740406

In [ ]:

%time results = grid_cv.cv_results_

df1 = pd.DataFrame(results)
display(df1.head(35))
df1.info()

CPU times: user 8 µs, sys: 0 ns, total: 8 µs
Wall time: 11.2 µs

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_penalty,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002367,0.000275,0.000000,0.000000,1e-05,l1,"{'C': 1e-05, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
1,3.313961,0.044434,0.010587,0.000077,1e-05,l2,"{'C': 1e-05, 'penalty': 'l2'}",0.437129,0.436833,0.437129,0.437129,0.437129,0.437129,0.437259,0.437259,0.437259,0.437259,0.437152,0.000123,9
2,0.002228,0.000192,0.000000,0.000000,0.0001,l1,"{'C': 0.0001, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
3,3.190604,0.081269,0.011091,0.001986,0.0001,l2,"{'C': 0.0001, 'penalty': 'l2'}",0.437129,0.436833,0.437129,0.437129,0.437129,0.437129,0.437259,0.437259,0.437259,0.437259,0.437152,0.000123,9
4,0.002420,0.000151,0.000000,0.000000,0.001,l1,"{'C': 0.001, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
5,3.347032,0.042141,0.011306,0.002212,0.001,l2,"{'C': 0.001, 'penalty': 'l2'}",0.438019,0.439798,0.438909,0.438019,0.438909,0.439502,0.439632,0.439929,0.439039,0.439632,0.439139,0.000656,8
6,0.002300,0.000184,0.000000,0.000000,0.01,l1,"{'C': 0.01, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
7,6.741687,0.069908,0.011410,0.002420,0.01,l2,"{'C': 0.01, 'penalty': 'l2'}",0.575030,0.559312,0.567023,0.551008,0.570285,0.564947,0.557995,0.563631,0.564818,0.555918,0.562997,0.006738,7
8,0.002367,0.000176,0.000000,0.000000,0.1,l1,"{'C': 0.1, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
9,17.001108,0.650369,0.011164,0.001499,0.1,l2,"{'C': 0.1, 'penalty': 'l2'}",0.684164,0.673488,0.678826,0.653025,0.682681,0.668743,0.674281,0.680510,0.673984,0.659745,0.672944,0.009510,6
10,0.002403,0.000193,0.000000,0.000000,1,l1,"{'C': 1, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
11,38.848168,2.187563,0.010815,0.000472,1,l2,"{'C': 1, 'penalty': 'l2'}",0.784401,0.776394,0.767200,0.762159,0.784994,0.770463,0.773658,0.775734,0.785227,0.762978,0.774321,0.008267,5
12,0.002316,0.000240,0.000000,0.000000,10,l1,"{'C': 10, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
13,41.995080,0.480354,0.010693,0.000114,10,l2,"{'C': 10, 'penalty': 'l2'}",0.827699,0.814650,0.810202,0.814353,0.826216,0.819098,0.819045,0.815188,0.823791,0.814892,0.818513,0.005456,1
14,0.002336,0.000187,0.000000,0.000000,100,l1,"{'C': 100, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
15,41.145590,0.834779,0.013074,0.007048,100,l2,"{'C': 100, 'penalty': 'l2'}",0.816726,0.797450,0.803974,0.808126,0.820285,0.811388,0.815485,0.812519,0.819341,0.818155,0.812345,0.006968,2
16,0.002140,0.000289,0.000000,0.000000,1000,l1,"{'C': 1000, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
17,41.099051,0.950770,0.010516,0.000163,1000,l2,"{'C': 1000, 'penalty': 'l2'}",0.801601,0.792705,0.797746,0.793298,0.804567,0.801008,0.798576,0.798279,0.803916,0.808662,0.800036,0.004722,3
18,0.002234,0.000265,0.000000,0.000000,10000,l1,"{'C': 10000, 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
19,40.524569,0.326188,0.011391,0.002111,10000,l2,"{'C': 10000, 'penalty': 'l2'}",0.800119,0.790629,0.793001,0.780546,0.808719,0.793891,0.795313,0.795313,0.797983,0.798576,0.795409,0.006840,4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   mean_fit_time      20 non-null     float64
 1   std_fit_time       20 non-null     float64
 2   mean_score_time    20 non-null     float64
 3   std_score_time     20 non-null     float64
 4   param_C            20 non-null     object
 5   param_penalty      20 non-null     object
 6   params             20 non-null     object
 7   split0_test_score  10 non-null     float64
 8   split1_test_score  10 non-null     float64
 9   split2_test_score  10 non-null     float64
 10  split3_test_score  10 non-null     float64
 11  split4_test_score  10 non-null     float64
 12  split5_test_score  10 non-null     float64
 13  split6_test_score  10 non-null     float64
 14  split7_test_score  10 non-null     float64
 15  split8_test_score  10 non-null     float64
 16  split9_test_score  10 non-null     float64
 17  mean_test_score    10 non-null     float64
 18  std_test_score     10 non-null     float64
 19  rank_test_score    20 non-null     int32
dtypes: float64(16), int32(1), object(3)
memory usage: 3.2+ KB

In [ ]:
df1 = df1[['param_penalty','param_C', 'mean_test_score']]
df1 = df1.sort_values(by='mean_test_score', ascending = False)
df1

   param_penalty param_C  mean_test_score
13            l2      10         0.818513
15            l2     100         0.812345
17            l2    1000         0.800036
19            l2   10000         0.795409
11            l2       1         0.774321
9             l2     0.1         0.672944
7             l2    0.01         0.562997
5             l2   0.001         0.439139
1             l2   1e-05         0.437152
3             l2  0.0001         0.437152
0             l1   1e-05              NaN
2             l1  0.0001              NaN
4             l1   0.001              NaN
6             l1    0.01              NaN
8             l1     0.1              NaN
10            l1       1              NaN
12            l1      10              NaN
14            l1     100              NaN
16            l1    1000              NaN
18            l1   10000              NaN